.btn, .container-fluid{
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.kg-result{
    font-size: 10rem;
}

.kg-text{
  margin-top: 20px;
}